.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  padding: 10px;
  /* display: block; */
  max-width: 100%;
  height: 120px;
  
}

.encabezado{
  padding: 60px;
}


